
<div class="navigationMenu">
    <div class="left">
        <div class="logo">
            <span>Bubble</span>
            <span>Match</span>
        </div>
        <div class="home nav-item">
            Home
        </div>
        <div class="play nav-item">
            Play
        </div>
        <div class="play nav-item">
            Create a lobby
        </div>
        <div class="play nav-item">
            Rules
        </div>
    </div>
    <div class="right">
        <div class="login" style="display:none;">Sign in</div>
        <div class="user" style="display:none;">
            Username
        </div>
        <div class="mmr" style="display:none;">
            2000
        </div>
    </div>
</div>
