<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/game.css'/>
    <link rel='stylesheet' href='/stylesheets/logo.css'/>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
    </style>
    <link rel="stylesheet" href="/dist/bmatch-public-<%= process.env.npm_package_version %>.css">
    <title>Auth page</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
</head>
<body>

<div class="navigationMenu">
    <div class="left">
        <div class="logo">
            <span>Bubble</span>
            <span>Match</span>
        </div>
        <div class="home nav-item">
            Home
        </div>
        <div class="play nav-item">
            Play
        </div>
        <div class="play nav-item">
            Create a lobby
        </div>
        <div class="play nav-item">
            Rules
        </div>
    </div>
    <div class="right">
        <div class="user">
            Username
        </div>
        <div class="mmr">
            2000
        </div>
    </div>
</div>


<div class="loader-container">
    <div class="loader-progress"></div>
    <div class="loader-text">Bubble match</div>
</div>



<script src="/dist/bmatch-public-<%= process.env.npm_package_version %>.js"></script>
</body>
</html>
