<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
    </style>
    <link rel="stylesheet" href="/dist/bmatch-public-<%= process.env.npm_package_version %>.css">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <title>Game#0000</title>
</head>
<body>

<div class="navigationMenu">
    <div class="left">
        <div class="logo">
            <span>Bubble</span>
            <span>Match</span>
        </div>
        <div class="home nav-item">
            Home
        </div>
        <div class="play nav-item">
            Play
        </div>
        <div class="play nav-item">
            Create a lobby
        </div>
        <div class="play nav-item">
            Rules
        </div>
    </div>
    <div class="right">
        <div class="user">
            Username
        </div>
        <div class="mmr">
            2000
        </div>
    </div>
</div>


<div class="loader-container">
    <div class="loader-progress"></div>
    <div class="loader-text">Bubble match</div>
</div>


<img style="display: none" id="template-item" src="/images/item.png">


<div class="wrapper">
    <div class="bg">
        <div class="game-container">

        </div>
    </div>
    <div class="toolbox">
        <div class="header">
            <div class="switch">
                <div class="chat-icon"></div>
            </div>
            <div class="timer">
                Time left: 00:00
            </div>
        </div>
        <div class="chat" style="display:none;">
            <div class="textarea">

            </div>
            <div class="input">
                <input type="text" maxlength="64" placeholder="GG, WP">
            </div>
        </div>
        <div class="player-wrapper">
            <div class="player-block">
                <div class="id active">
                    1
                </div>
                <div class="info">
                    <div class="left">
                        <div class="img"></div>
                    </div>
                    <div class="right">
                        <div class="nickname">nickname</div>
                        <div class="mmr">1000pts</div>
                    </div>
                </div>
            </div>
            <div class="player-block">
                <div class="id">
                    2
                </div>
                <div class="info">
                    <div class="left">
                        <div class="img"></div>
                    </div>
                    <div class="right">
                        <div class="nickname">nickname</div>
                        <div class="mmr">1000pts</div>
                    </div>
                </div>
            </div>
            <div class="player-block">
                <div class="id">
                    3
                </div>
                <div class="info">
                    <div class="left">
                        <div class="img"></div>
                    </div>
                    <div class="right">
                        <div class="nickname">nickname</div>
                        <div class="mmr">1000pts</div>
                    </div>
                </div>
            </div>
            <div class="player-block">
                <div class="id">
                    4
                </div>
                <div class="info">
                    <div class="left">
                        <div class="img"></div>
                    </div>
                    <div class="right">
                        <div class="nickname">nickname</div>
                        <div class="mmr">1000pts</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/dist/bmatch-public-<%= process.env.npm_package_version %>.js"></script>
</body>
</html>
