.game-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    user-select: none;
    padding: 5px;
    background: rgb(66 72 77 / 100%);
    border-radius: 0 0 10px 10px;
}

.bg {
    display: flex;
    flex-direction: column;
    flex-basis: 53%;
}


.bg::after {
    display: inherit;
    position: relative;
    content: '';
    height: 7px;
    bottom: 5px;
    z-index: 2;
    width: 100%;
    background: #6b1718;
    border-radius: 0 0 10px 10px;
}


.wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    place-content: center;
    flex: 0;
    margin: 20px 5% 141px;
}


.item {
    width: 10%;
    height: auto;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    transition: opacity 0.18s ease-in-out;
}


.item:hover {
    user-select: none;
    opacity: 0.5;

}

.toolbox {
    min-width: 320px;
    margin-left: 50px;
    align-self: flex-start;
    display: flex;
    flex: 1;
    height: 100%;
    flex-direction: column;
}

.player-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.player-block {
    display: flex;
    flex-direction: row;
    border: 2px solid #FAFAFA;
    color: white;
    flex-basis: 25%;
}

.id:before {
    position: relative;
    display: flex;
    align-self: center;
    content: '→';
    z-index: 2;
    right: 50px;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0);
}

.id.active:before {
    color: rgba(255, 255, 255, 1);
}

.player-block .id {
    align-items: center;
    display: flex;
    margin-left: 10px;
    user-select: none;
}

.player-block .info {
    display: flex;
    flex: 1;
    align-self: center;
    margin-left: 30px;
    justify-content: center;
    font-size: 20px;
}

.player-block .info .left {
    display: flex;
    margin-right: 25px;
}

.player-block .info .img {
    min-width: 47px;
    display: flex;
    background-color: #a29b9b;
    border-radius: 50%;
    user-select: none;
}

.toolbox .header {
    user-select: none;
    height: max-content;
    border-radius: 10px 10px 0 0;
    background: #FAFAFA;
    font-family: 'Rubik', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}