
.navigationMenu {
    display: flex;
    margin: 20px 5% 141px;
}
.navigationMenu .left{
    display: flex;
    flex-direction: row;
}
.navigationMenu .left *:not(:first-child){
    margin-right: 34px;
}

.navigationMenu .right{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
}

.navigationMenu .right *:not(:first-child){
    margin-left: 34px;
}

.navigationMenu > * {
    color: rgba(250, 250, 250, 1);
    font-size: 24px;
    user-select: none;
}

.navigationMenu .logo {
    display: flex;
}